
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(118, 164, 250);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

#info-icon {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 2px;
}

#info-icon:hover::after {
  content: "Pick between general posts and your friend's posts";
  border: 1px solid rgb(155, 155, 155);
  border-radius: 5px;
  padding: 3px;
  box-shadow: rgb(143, 143, 143) 0px 0px 3px;
}

.like, .commentButton {
  width: 4rem;
  display: inline-block;
  text-align: center;
  padding: 0.3rem;
}

.like:hover, .commentButton:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.like:hover {
  color: rgb(255, 73, 73)
}

#nav {
  background-color: rgb(118, 164, 250);
}

#logout, #maintitle {
  display: inline-block;
  margin: 1.3rem;
  color: rgb(255, 255, 255);
}

#logout {
  float: right;
  margin-top: 30px;
}

a {
  color: rgb(118, 164, 250);
  text-decoration: none;
}

#logout:hover, a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.comment {
  display: block;
  margin: 1rem;
}

.comment span {
  margin-right: 0.5rem;
}